body{
    overflow: hidden;
    background: #680e4f;
    background: radial-gradient(circle, hwb(289 5% 59%) 0%, lab(13.12% 11.73 -31.45) 100%);
}
.mic{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.mic::before, .mic::after{
    content:"";
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: 2;
    box-shadow : 0 0 20px 20px #41084f;
}
.mic::before{
    width: 400px;
    height: 400px;
    background-color: #080a4e;
}
.mic::after{
    width: 250px;
    height: 250px;
    background-color: #201e5f;
    animation: circle-size 0.8s linear infinite alternate;
}
.mic-icon{
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(5);
    display: block;
    width: 16px;
    height: 12px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border:2px solid;
    border-top:0;
    margin-top: 20px;
    z-index: 3;
}
.mic-icon::before, .mic-icon::after{
    content:"";
    display: block;
    box-sizing: border-box;
    position: absolute;
}
.mic-icon::before{
    width:2px;
    height:5px;
    top: calc(100% + 1px);
    left:50%;
    transform: translate(-50%, 0);
    background-color: #fff;
}
.mic-icon::after{
    border: 2px solid;
    width: 8px;
    height: 18px;
    left: 50%;
    top: -10px;
    border-radius: 4px;
    transform: translate(-50%, 0);
}
.mic-shadow {
    width: 400px;
    height: 400px;
    position: absolute;
    top:50%;
    left: 50%;
    border-radius: 100%;
    z-index: 1;
    background: radial-gradient(circle at center, rgba(130, 60, 166, 0.3), rgba(27, 125, 143, 0.3));
    box-shadow: 0 0 40px 20px #823ca6, 0 0 60px 30px #5acee3, 0 0 80px 40px #f30bf5;
    animation: shadow-rotate 1.5s linear infinite;
    transform-origin: center;
}
@keyframes circle-size{
    from{
        width: 250px;
        height: 250px;
    }
    to{
        width: 300px;
        height: 300px;
    }
}
@keyframes shadow-rotate{
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}